
#goldencobra_events_article_event_modul{
	input[type="submit"]{
		margin-top:10px;
	}
}

.sortable li{
	cursor:move;
	&:hover{
		background-color:yellow;
	}
}

.overview-sidebar{
	div.start_date{
		color:grey;
		font-style:italic;
	}
}

#event_artist_ids_chzn {
	width: 350px;
}

#invoice {
	h5 {
		margin-top: 150px;
	}
	p.contact-informations {
		font-size: 10px;
		color: #22eeaa;
	}
}

div#result {

  height: 41px;
  width: 450px;

  &.valid {
    background-color:#00aa00;
  }

  &.invalid {
    background-color:#aa0000;
  }

  span.correct {
    color:#ffffff;
    font-size: 18px;
    padding: 10px 210px 5px 210px;
  }

  span.incorrect {
    color:#ffffff;
    font-size: 18px;
    padding: 10px 50px 5px 150px;
  }
}