
#goldencobra_events_article_event_modul{
	input[type="submit"]{
		margin-top:10px;
	}
}

.sortable li{
	cursor:move;
	&:hover{
		background-color:yellow;
	}
}

.overview-sidebar{
	div.start_date{
		color:grey;
		font-style:italic;
	}
}

#event_artist_ids_chzn {
	width: 350px;
}

#invoice {
	h5 {
		margin-top: 150px;
	}
	p.contact-informations {
		font-size: 10px;
		color: #22eeaa;
	}
}