#goldencobra_events_event_popup{
	border: 1px solid black;
}

#goldencobra_events_event_popup .close {
	background-image:url("/assets/goldencobra/close.png");
	position:absolute;
	right:-7px;
	top:-7px;
	cursor:pointer;
	height:14px;
	width:14px;
	text-indent:-999999px;
}

#goldencobra_events_registration_basket{
	ul{
		li{
			a.remove{
				line-height:14px;
				display:inline-block;
				background-image:url("/assets/goldencobra/close.png");
				height:14px;
				width:14px;
				text-indent:-999999px;
			}
		}
	}
}