
#goldencobra_events_article_events{
	ul{
		padding:0;
		margin:0;
		li{
			padding:0;
			margin:0;
		}		
	}
	div.article_event_content{
		border:1px solid black;
	}
	
	li.article_event_item.completed > div.article_event_content{
		opacity:0.5;
	}
	li.article_event_item.has_exclusive_children{
		border: 3px solid red;
	}
	
	&.program{
		.article_event_content{
			.pricegroups{
				margin:0 0 0 100px;
				ul{
					li{
						list-style:none;	
						.pricegroup_id{
							display:none;
						}
						.title{
							display:inline-block;
						}
						.price{
							display:inline-block;
							margin:0 0 0 10px;
						}
						.number_of_participators_label{
							display:inline-block;
							margin:0 0 0 20px;
						}
						.cancelation_until{
							display:none;
						}
						.start_reservation{
							display:none
						}
						.end_reservation{
							display:none;
						}
					}
				}
					
			}
		}
	}
	
	&.registration{
		.article_event_content{
			overflow:hidden;
			.title{
				display:inline-block;
			}
			.pricegroups{
				display:none;
			}
			.start_date{
				display:none;
			}
			.end_date{
				display:none;
			}
			.goldencobra_events_event_teaser_image_image_link{
				display:none;
			}
			.sponsors{
				display:none;
			}
			.artists{
				display:none;
			}
			.event_reservation_options{
				div{
					min-width:20px;
					padding:1px 2px;
				}
				display:inline-block;
				float:right;
				.number_of_participators_label{
					float:right;
					border:1px solid black;
					background-color:grey;
					color:white;
					text-align:center;
				}
				.type_of_event{
					float:right;
					text-indent:-9999999px;
					background:url("/assets/goldencobra_events/registration_needed.jpg") no-repeat;
					width:20px;
				}
				.type_of_registration{
					float:right;
					display:none;
				}
				.exclusive{
					float:right;
					text-indent:-9999999px;
					background:url("/assets/goldencobra_events/exclusive.png") no-repeat;
					width:20px;
					
				}
				
			}
			.venue{
				margin:0 0 0 10px;
				font-style:italic;
			}
			.register_for_event{
				display:inline-block;
				margin:10px;
				a{
					border:1px solid black;
					background-color:grey;
					color:white;	
					text-decoration:none;
					padding:2px;
					&:hover{
						background-color:black;
					}
				}
			}
		}
		
	}
}





















//Alles unterhalb hiervon kann warscheinlich weg

#goldencobra_events_event_popup{
	border: 1px solid black;
}

#goldencobra_events_event_popup {
	background-color:#fff;
	box-shadow:5px 5px 5px grey;
	padding:10px;
	.close {
		background-image:url("/assets/goldencobra/close.png");
		position:absolute;
		right:-7px;
		top:-7px;
		cursor:pointer;
		height:14px;
		width:14px;
		text-indent:-999999px;	
	}
	form {
		fieldset{
			margin:0px;
			border-top:0px;
			border-left:1px solid grey;
			border-right:1px solid grey;
			border-bottom:1px solid grey;
			legend{
				display:none;
			}
		}
		&.user_registration{
			div.legend{

			}
			div.next_step{
				float:right;
				a{
					text-decoration:none;
				}
			}
			input[type="submit"]{
				float:right;
			}
			ul.tabs { 
			    list-style:none; 
			    margin:0 !important; 
			    padding:0;  
			    border-bottom:1px solid #666;   
			    height:30px;
				li { 
				    float:left;  
				    text-indent:0;
				    padding:0;
				    margin:0 !important;
				    list-style-image:none !important; 
				}
				 a { 
				    background: url("/assets/goldencobra/tools/tabs/blue.png") no-repeat -420px 0;
				    font-size:11px;
				    display:block;
				    height: 30px;  
				    line-height:30px;
				    width: 134px;
				    text-align:center;  
				    text-decoration:none;
				    color:#333;
				    padding:0px;
				    margin:0px; 
				    position:relative;
				    top:1px;
					&:active {
					    outline:none;       
					}
					&:hover {
					    background-position: -420px -31px;  
					    color:#fff; 
					}
				}
				a.current, a.current:hover, li.current a {
				    background-position: -420px -62px;      
				    cursor:default !important; 
				    color:#000 !important;
				}
				
			}
			p{	
				label{
					display:inline-block;
					width:200px;
				}
				input[type="text"],input[type="password"],input[type="email"],input[type="url"]{
					width:300px;
				}
				height:10px;
			}
		}	
	}
}

#goldencobra_events_registration_basket{
	ul{
		li{
			a.remove{
				line-height:14px;
				display:inline-block;
				background-image:url("/assets/goldencobra/close.png");
				height:14px;
				width:14px;
				text-indent:-999999px;
			}
		}
	}
}

div.error{
	background-color:red;
}

