

<% if @barcode == "valid" %>
    $("#result").html("<span class='correct'><%= @checkin %>&nbsp; Anzahl von Check-Ins: <%= @count %></span>");
  $("#result").addClass("valid");
<% else %>
  $("#result").html("<span class='incorrect'>Nicht gültig!</span>");
  $("#result").addClass("invalid");
<% end %>
$('#result').children().fadeIn()
$("input#barcode").val("")

setTimeout(function() {
  $('#result').children().fadeOut();
  $("#result").removeClass("valid invalid");
}, 2000 );
