  $("#result").removeClass("valid invalid");
<% if @barcode == "valid" %>
  $("#result").html("<span class='correct'><%= @checkin %></span>");
  $("#result").addClass("valid");
<% else %>
  $("#result").html("<span class='incorrect'>Nicht gültig!</span>");
  $("#result").addClass("invalid");
<% end %>
  $("input#barcode").val("")
