<!DOCTYPE html>
<html>
<head>
  <title>GoldencobraEvents</title>
  <%= stylesheet_link_tag    "goldencobra-events/application", :media => "all" %>
  <%= javascript_include_tag "goldencobra-events/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
