<div class="overview-sidebar">
	<ul>
		<% timeline.each do |item| %>
			<li>
				<div class="item">
					<div class="title"><%= link_to item.send(link_name), eval("admin_#{url_path.pluralize}_path(:q => {:parent_ids_in => item.id})")   %></div>
					<div class="start_date">
						<%= item.start_date.strftime("%d.%m.%y %H:%M") if item.start_date.present? %>
					</div>
					<div class="options">
						<%= link_to "new", eval("new_admin_#{url_path}_path(:parent => item)"), :class => "new_link"  %>
						<%= link_to "edit", eval("edit_admin_#{url_path}_path(item)"), :class => "edit_link" %>
					</div>		
				</div>
			</li>
		<% end %>	
	</ul>
</div>