<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Storno</title>
  </head>
  <body>
    <p>Es ist ein neuer Storno eingegangen.<br />
      Bitte unter folgendem Link 端berpr端fen:<br />
      <a href='<%= Goldencobra::Setting.for_key("goldencobra.url") %>/admin/applicants/<%= @user.id %>'>Anmeldung 端berpr端fen</a></p>
  </body>
</html>
