<div id="registration_confirmation">
  <h3>Vielen Dank für Ihre Registrierung!</h3>
  <p class="confirmation_description">Wir senden Ihnen die Details zu Ihrer Bestellung zus&auml;tzlich per E-Mail.</p>
  <p>Ihre weiteren Optionen:</p>
  <ul>
    <li><%= link_to "zurück zur Startseite", "/" %></li>
    <li><%= link_to "Programmübersicht", "/programm" %></li>
    <li><%= link_to "Hotelempfehlungen", "/hotels" %></li>
</div>
