<h2 class="boxheader">Anmeldung</h2>
<h1 class="headline">Anmeldung erfolgreich abgeschlossen</h1>


<div id="registration_summary">
	<p>Herzlichen Dank f&uuml;r Ihre Anmeldung. Sie erhalten eine Best&auml;tigung per E-Mail.</p>
</div>
