<h2 class="boxheader">Anmeldung</h2>
<h1 class="headline">Anmeldung erfolgreich abgeschlossen</h1>


<div id="registration_summary">
	<p>Herzlichen Dank. Sie erhalten eine Best&auml;tigung per E-Mail.</p>
	<p><a href="/">zur Startseite</a></p>
	<p><a href="/programm">zum Programm</a></p>
</div>
    <script>
      var _gaq = _gaq || [];
      gaq.push(['_trackPageview', 'Registrierung - Zusammenfassung anzeigen']);
    </script>
