<div id="goldencobra_events_registration_basket">
	<% session[:goldencobra_event_registration] = {} if session[:goldencobra_event_registration].blank? %>
	<% pricegroup_ids = session[:goldencobra_event_registration][:pricegroup_ids] %>
	<% if pricegroup_ids.present? %>
	  <% @event_pricegroups = GoldencobraEvents::EventPricegroup.find(pricegroup_ids) %>
		<ul>
			<% @event_pricegroups.each do |pricegroup| %>
				<li id="goldencobra_events_registration_basket_item_<%= pricegroup.id %>">
					<%= pricegroup.id %>: <%= pricegroup.event.title %> <%= link_to "entfernen", "/goldencobra_events/event/#{pricegroup.id}/cancel", :remote => true %>
				</li>
			<% end %>	
		</ul>
	<% end %> 	
</div>

