<% if @webcode %>
	$('#article_event_webcode_form #goldencobra_events_webcode_error').hide();
	$('#article_event_webcode_form').html("<p class='success'>Webcode ist gültig: <%= session[:goldencobra_events_webcode]%></p>");
	$('#goldencobra_events_article_events').slideUp().html("<%= escape_javascript(render_article_events()) %>").fadeIn();
<% else %>
	$('#article_event_webcode_form #goldencobra_events_webcode_error').html("<p class='error'>Der eingegebene Webcode ist ungültig</p>");
	$('#article_event_webcode_form #goldencobra_events_webcode_error').effect("highlight", {}, 3000);
<% end %>